<%- include('./partials/header.ejs') %>

<div class="container"  style="text-align: center;">
    <br>
    <h1>Challanges</h1>
    <br>
    <a href="/challangesToStudent/add" class="btn btn-primary"> Add Challange </a>
    <br><br>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Title</th>
                <th scope="col">Deadline</th>
                <th scope="col">Description</th>
              </tr>
        </thead>
        <tbody>
          <% challange.forEach((el, i) => { %>
            <tr>
                <td> <%= i + 1 %> </td>
                <td> <%= el.title %> </td>
                <td> <%= el.deadline %> </td>
                <td> 
                    <a href="/challangesToStudent/delete/<%= el.id %> " class="btn btn-danger">Delete</a> | 
                    <a href="/challangesToStudent/detail/<%= el.id %> " class="btn btn-primary"> Detail </a>
                </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
</div>